* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 40rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  height: auto;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
