* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 60rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formsContainer {
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
}

form {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.tableContainer {
  width: 80rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#selectfolderLabel {
  display: flex;
}

#selectfolderLabel, #snapshotInputLabel {
  width: 300px;
  border: 1px solid red;
}

.backBtn {
  width: 100%;
  margin-left: 10px;
}

.backBtn a {
  text-decoration: none;
  color: lightblue;
  padding: 5px;
  border: 1px solid black;
}

.tableContent {
  overflow: scroll;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 8px;
}

h1 {
  height: auto;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}

/* label {
  display: flex;
  flex-direction: column;
} */

input {
  padding: 5px;
}

input[type="file"] {
  font-size: 0;
}

input[type="file"]::file-selector-button {
  font-size: 15px;
}

.mappedSong {
  background-color: orange;
}

.duplicatedSong {
  background-color: yellow;
}

.newSong {
  background-color: green;
}

.removedSong {
  background-color: red;
}

.snapCard {
  padding: 10px;
  margin: 5px;
  background-color: lightcyan;
}

.card-group {
  display: flex;
  gap: 16px;
}

.card {
  display: block;
  padding: 24px;
  border: 2px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  background: #fff;
  transition: border 0.2s, box-shadow 0.2s;
}

input[type="radio"]:checked + .card {
  border: 2px solid #007bff;
  box-shadow: 0 0 8px #007bff44;
  background: #e6f0ff;
}