{% extends 'base.html' %} {% block head %} <title>Home</title> {% endblock %} {%
block body %}
<div class="content">
  <h1>SyncSongs</h1>

  <div class="formsContainer">
    <form
      id="folderForm"
      action="/check-folder"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="selectfolder">
        Selecione a pasta:
        <input
          type="file"
          webkitdirectory
          multiple
          name="selectfolder"
          id="selectfolder"
          required
        />
      </label>
      <span class="files"></span>

      <input
        type="button"
        value="Selecionar snapshot"
        onclick="getSnapshots()"
      />
      <input type="hidden" id="selectsnapshot" name="selectsnapshot" />

      <input type="submit" value="Upload Folder" id="submitBtn" disabled />
      <!-- TODO - ADICIONAR LOADING ENQUANTO ELE FAZ UPLOAD DAS MÚSICAS/PASTA -->
    </form>

    <!-- TODO - TAMBÉM ADICIONAR MARCAS DE VERIFICADO PARA CADA ETAPA, FAZER UPLOAD DA PASTA, SELECIONAR SNAPSHOT ETC... -->

    <!-- TODO - IF ALGO QUE MONITORA SE A SNAPSHOT FOI ESCOLHIDA E A PASTA ENVIADA FOR TRUE ENTÃO ELE DAI SIM RENDERIZA A TABELA -->
    {% if songs|length < 1 %} {% else %}

    <!-- <input type="button" value="back" id="back"/>  -->
    <!-- TODO - TERMINAR ISSO DEPOIS - BOTÃO DE VOLTAR -->

    <!-- <table id="table">
    <tr>
      <td>Path</td>
      <td>Name</td>
      <td>Hash</td>
      <td>Status</td>
      <td>Options</td>
    </tr>
    {% for song in songs %}
    <tr>
      <td>{{ song.pathname }}</td>
      <td>{{ song.filename }}</td>
      <td>{{ song.hash }}</td>
      {% if song.status == 'Mapped' %}
      <td class="mappedSong">{{ song.status }}</td>
      {% endif %}
      {% if song.status == 'Duplicated' %}
      <td class="duplicatedSong">{{ song.status }}</td>
      {% endif %}
      {% if song.status == 'New' %}
      <td class="newSong">{{ song.status }}</td>
      {% endif %}
      {% if song.status == 'Removed' %}
      <td class="removedSong">{{ song.status }}</td>
      {% endif %}
      {% if song.options %}
      <td>{{ song.options }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </table> -->
    {% endif %}
  </div>

  <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  {% endblock %}
</div>
