{% extends 'base.html' %} {% block head %} <title>Home</title> {% endblock %} {%
block body %}
<div class="content">
  <h1>SyncSongs</h1>

  {% if comparedSongs|length > 0%}
  <div class="tableContainer">
    <div class="backBtn">
      <a href="/">Voltar</a>
    </div>
      <div class="tableContent">

        <table id="table">
          <tr>
            <td>Path</td>
            <td>Name</td>
            <!-- <td>Hash</td> -->
            <td>Status</td>
            <td>Options</td>
          </tr>
        {% for song in comparedSongs %}
        <tr>
          <td>{{ song.pathname }}</td>
          <td>{{ song.filename }}</td>
          <!-- <td>{{ song.hash }}</td> -->
          <td>{{ song.status }}</td>
          {% if song.status == "Duplicated" %}
            <td>
              <input type="button" value="Remover" onclick="removeSong('{{ song.hash }}')">
            </td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
    </div>
    </div>
  {% else %}
  <div class="formsContainer">
    <form
      id="folderForm"
      action="/check-folder"
      method="post"
      enctype="multipart/form-data"
    >
      <label for="selectfolder" id="selectfolderLabel">
        Selecione a pasta:
        <input
          type="file"
          webkitdirectory
          multiple
          name="selectfolder"
          id="selectfolder"
          required
        />
        <span class="files"></span>
      </label>

      <label for="snapshotInput" id="snapshotInputLabel">

        <input
        type="button"
        value="Selecionar snapshot"
        onclick="getSnapshots()"
        id="snapshotInput"
        />
      </label>
      <input type="hidden" id="selectsnapshot" name="selectsnapshot" />

      <label for="savesnapshot">
        Salvar snapshot?
        <input type="checkbox" name="savesnapshot" id="savesnapshot">
      </label>

      <input type="submit" value="Upload Folder" id="submitBtn" disabled />
      <!-- TODO - ADICIONAR LOADING ENQUANTO ELE FAZ UPLOAD DAS MÚSICAS/PASTA -->
    </form>

    <!-- TODO - TAMBÉM ADICIONAR MARCAS DE VERIFICADO PARA CADA ETAPA, FAZER UPLOAD DA PASTA, SELECIONAR SNAPSHOT ETC... -->

    <!-- TODO - IF ALGO QUE MONITORA SE A SNAPSHOT FOI ESCOLHIDA E A PASTA ENVIADA FOR TRUE ENTÃO ELE DAI SIM RENDERIZA A TABELA -->
  </div>
  {% endif %}
  <script src="{{ url_for('static', filename='scripts/index.js') }}"></script>
  {% endblock %}
</div>
